{% extends "base.html" %}

{% block tittle %}
Detalhes da coleta
{% endblock %}

{% block subtitulo %}
Detalhes da coleta
{% endblock %}

{% block conteudo %}
    <div class="tabela">
        <div class="linha">
            <div class="coluna">
                <b>ID:</b> {{ coleta.id }}
            </div>
            <div class="coluna">
                <b>Criação:</b> {{ coleta.criacao.raca }}
            </div>
            <div class="coluna">
                <b>Data:</b> {{ coleta.data }}
            </div>
            <div class="coluna">
                <b>Quantidade:</b> {{ coleta.quantidade }}
            </div>
        </div>
    </div>
{% endblock %}