{% extends "base.html" %}

{% block tittle %}
Lista de coletas
{% endblock %}

{% block subtitulo %}
Lista de coletas
{% endblock %}

{% block conteudo %}
    <table>
        <tr>
            <th colspan="2">Lista de coletas</th>
        </tr>
        <tr>
            <th>Criação</th>
            <td>{{ coleta.criacao.raca }}</td>
        </tr>
        <tr>
            <th>Data</th>
            <td>{{ coleta.data }}</td>
        </tr>
        <tr>
            <th>Quantidade</th>
            <td>{{ coleta.quantidade }}</td>
        </tr>
    </table>
{% endblock %}