{% extends "base.html" %}

{% block tittle %}
Lista de coletas
{% endblock %}

{% block subtitulo %}
Lista de coletas
{% endblock %}

{% block conteudo %}
    <table border="1">
        <tr>
            <th>Criação</th>
            <th>Data</th>
            <th>Quantidade</th>
        </tr>
        {% for coleta in lista_coletas %}
            <tr>
                <td>{{ coleta.criacao }}</td>
                <td>{{ coleta.data }}</td>
                <td>{{ coleta.quantidade }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}