{% extends "base.html" %}

{% block tittle %}
Lista de coletas
{% endblock %}

{% block subtitulo %}
Lista de criações
{% endblock %}

{% block conteudo %}
    <div class="tabela">
        {% for criacao in lista_criacoes %}
        <div class="linha">
            <div class="coluna">
                <b>Raca:</b> {{criacao.raca}}
            </div>
            <div class="coluna">
                <b>Data de entrada:</b> {{criacao.data_entrada}}
            </div>
            <div class="coluna">
                <b>Ações:</b> <a href="detalhes/{{ criacao.id }}">Detalhar</a> <a href="deletar/{{ criacao.id }}">Deletar</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}