{% extends "base.html" %}

{% block tittle %}
Lista de coletas
{% endblock %}

{% block subtitulo %}
Lista de coletas
{% endblock %}

{% block conteudo %}
    <div class="tabela">
        {% for coleta in lista_coletas %}
        <div class="linha">
            <div class="coluna">
                <b>Raça:</b> {{ coleta.criacao.raca }}
            </div>
            <div class="coluna">
                <b>Data:</b> {{ coleta.data }}
            </div>
            <div class="coluna">
                <b>Coleta:</b> {{ coleta.quantidade }}
            </div>
            <div class="coluna">
                <b>Ações</b> <a href="detalhes/{{ coleta.id }}">Detalhar</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}